certifi==2026.5.20
contourpy==1.3.3
cuda-bindings==13.3.1
cuda-pathfinder==1.5.5
cuda-toolkit==13.0.2
cycler==0.12.1
dotenv==0.9.9
filelock==3.29.1
fonttools==4.63.0
fsspec==2026.4.0
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mplcursors==0.7.1
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.6
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==26.2
paho-mqtt==2.1.0
pillow==12.2.0
pyparsing==3.3.2
pyproj==3.7.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
scipy==1.17.1
setuptools==81.0.0
six==1.17.0
sortedcontainers==2.4.0
sympy==1.14.0
tabulate==0.10.0
tk==0.1.0
torch==2.12.0
triton==3.7.0
typing_extensions==4.15.0
